doctype
html.no-js
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		title UNESCO RAWA - Responsive
		link(rel="stylesheet", href="css/owl.carousel.css", type="text/css")
		link(rel="stylesheet", href="css/style.css", type="text/css")
	body
		.l-head
			include menu-full
			include menu-mobile
		.l-content.u-pad-m
			.u-center
				.m-hero
					.c-titlebox
						h3 Kakadu National Park
						p World Heritage Site
					.c-photo-head
						.c-photo-head__photo(style="background-image:url('img/slider-bg.png')")
						.c-photo-head__title
							h3 WHS
						.c-photo-head__description
							//-h3 Subtitulo
							p
								strong Site Name: 
								| Kakadu National Park
							p
								strong Country: 
								| Australia
							p
								strong Legal Foundation Date: 
								| December 3, 1975
							p 
								strong Ownership: 
								| Private
							p 
								strong State of Nomination: 
								| Inscribed
							p 
								strong Site Designation: 
								| Cultural
							p 
								strong Site Protection Classification: 
								| Nature Conservation
							p 
								strong Official Site Area: 
								| 3,567 ha
				include c-sfbox
				.c-index.c-index--float
					.c-index__sort
						h4 Results (99)
						label Order by
						select
							option Opción 1
					.c-index__elements
						.c-index__element.c-index__element--whs
							.c-index__element__icon
								.c-index__element__icon__thumb
								span.c-index__element__icon__label RAS
							.c-index__element__data
								h4 Título elemento
									h5.metadata Location: Kakadu National Park
									h5.metadata Country: Australia
									h5.metadata Definition: Captured Text
									h5.metadata.desc Description: One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
									.c-index__element__data__actions
										a.button(href="") View Element
										a.button(href="") Download
						.c-index__element.c-index__element--ras
							.c-index__element__icon
								.c-index__element__icon__thumb
								span.c-index__element__icon__label RAS
							.c-index__element__data
								h4 Título elemento
									h5.metadata Location: Kakadu National Park
									h5.metadata Country: Australia
									h5.metadata Definition: Captured Text
									h5.metadata.desc Description: One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
									.c-index__element__data__actions
										a.button(href="") View Element
										a.button(href="") Download
						.c-index__element.c-index__element--document
							.c-index__element__icon
								.c-index__element__icon__thumb
								span.c-index__element__icon__label RAS
							.c-index__element__data
								h4 Título elemento
									h5.metadata Location: Kakadu National Park
									h5.metadata Country: Australia
									h5.metadata Definition: Captured Text
									h5.metadata.desc Description: One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections.
									.c-index__element__data__actions
										a.button(href="") View Element
										a.button(href="") Download
					.c-index__pagination
						ul.c-index__pagination__list
							li.is-hidden Back
							li 01
							li.is-selected 02
							li 03
							li 04
							li 05
							li 06
							li Next
		include footer
	include foot